<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Sistema de Consultas</h1>
        
        <div class="button-container">
            <a href="{{ url_for('login') }}" class="button">Login</a>
            <a href="{{ url_for('cadpaciente') }}" class="button">Cadastrar-se como Paciente</a>
            <a href="{{ url_for('cadmedico') }}" class="button">Cadastrar-se como Médico</a>
        </div>
    </div>
</body>
</html>
